html {
	color: #ccc;
	background-color: black;
	background-image: url("/media/bg.png");
	background-attachment: fixed;
	background-repeat: repeat-x;
	background-size: 100% 100%;
	image-rendering: pixelated;
	height: 100%;
	font-family: "Abel", sans-serif;
	max-width: 1280px;
	margin-left: auto;
	margin-right: auto;
	padding: 10px;
}
body {
	image-rendering: auto;
}
a, a:visited {
	color: #ffd800;
	text-decoration: none;
}
hr {
	border: 0;
	border-top: 1px solid #ccc;
}
pre {
	white-space: pre-wrap;
}
img {
	max-width: 100%;
}
.logo {
	height: 48px;
}
.ill {
	background-color: black;
	padding: 5px;
	border-radius: 5px;
	border: 1px solid #ccc;
}
.illumni {
	color: white;
	font-weight: bold;
}
.header {
	border: 5px solid rgba(0, 108, 128, 128);
	box-sizing: border-box;
	border-radius: 10px;
}
.index {
	padding: 10px;
	border: 1px solid #ccc;
	border-radius: 10px;
	background-color: black;
}
